
body{font-family:Arial;padding:20px;background:#eef2f7}
.card{background:white;padding:15px;margin-bottom:20px;border-radius:10px;box-shadow:0 2px 10px #0002}
input{width:100%;padding:8px;margin:6px 0;border-radius:8px;border:1px solid #bbb}
button{width:100%;padding:14px;background:#2563eb;color:white;border:none;border-radius:8px;font-size:17px;margin-top:10px}
